# Node
node_modules/
npm-debug.log*

# Logs
*.log

# OS/editor
.DS_Store
Thumbs.db
.vscode/

# Build/cache
coverage/
dist/

# Analysis/temp
.analysis/
Temp/

# Never commit original Athena mod distribution folder
@Athena - An Arma 2nd Screen Application/
